body {
  margin: 0;
}
canvas {
  display: block;
}
.navbar-nav .nav-link {
  border-radius: 15px;
  margin: 0 5px;
  padding: 5px 10px;
  border: 2px solid white;
}

.btn-primary {
  background-color: #8c581f !important;
  border-color: white !important;
}
